<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Mahout Test Suite">
            <directory>test/Mahout/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Mahout/</directory>
        </whitelist>
    </filter>
</phpunit>
